#### Given number is even or odd

In [1]:
num=int(input("Enter number "))
if (num%2)==0:
    print("even number")
else:
    print("odd number")

Enter number 67
odd number

### Alphabet is a vowel or consonant

In [2]:
x=str(input("Enter alphabet "))
if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
    print(x,"is a vowel")
else:
    print(x,"is a consonant")

Enter alphabet i
i is a vowel

### Person is eligible to vote or not

In [6]:
age=int(input("enter age "))
if age >=18:
    print("eligible for vote")
else:
    print("Not eligible for vote")

enter age 19
eligible for vote

#### Given number is positive,negative or zero

In [7]:
num = int(input("Input a number: "))
if num > 0:
    print("It is positive number")
elif num == 0:
    print("It is Zero")
else:
    print("It is a negative number")

Input a number: 9
It is positive number

### Given year is leap year or not

In [17]:
year=int(input("Enter a year: "))
if(year % 4==0)and (year%100!=0 or year% 400==0):
    print("is a leap year",year)
else:
    print("is not leap year",year)

Enter a year: 2025
is not leap year 2025

#### Triangle is eqilateral, isosceles or scalens.

In [17]:
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
    print("Equilateral triangle")
elif x==y or y==z or z==x:
    print("isosceles triangle")
else:
    print("Scalene triangle")

x: 8
y: 8
z: 9
isosceles triangle

#### To check whether after selling a product its profit or loss.

In [18]:
cost_price=int(input("Enter cost price: "))
selling_price=int(input("Enter selling price: "))

profit=selling_price-cost_price
loss=cost_price-selling_price
if selling_price>cost_price:
    print("congratulations! you made a profit",profit)
elif selling_price<cost_price:
    print("sorry,you incurred a loss",loss)
else:
    print("you neither made a profit nor loss")

Enter cost price: 500
Enter selling price: 300
sorry,you incurred a loss 200

#### Write a program to enter two numbers and print the greatest number.

In [2]:
num1=50
num2=70
if num1>num2:
  print(num1)
else:
  print(num2)

70

#### Write a program to enter two numbers and print the smallest number.

In [3]:
num1=10
num2=70
if num1<num2:
    print(num1)
else:
    print(num2)

10

#### Write a program to enter three numbers and print the greatest number.

In [4]:
num1=16
num2=10
num3=20
if (num1 >= num2) and (num1 >= num3):
   greatest = num1
elif (num2 >= num1) and (num2 >= num3):
   greatest = num2
else:
   greatest = num3

print("The greatest number is", greatest)

The greatest number is 20

#### Write a program to enter three numbers and print the smallest number.

In [6]:
num1=29
num2=45
num3=56
if (num1<=num2)and (num1<=num3):
    smallest=num1
elif(num2<=num1)and (num1<=num3):
    smallest=num2
else:
    smallest=num3
print("The smallest number is",smallest)

The smallest number is 29

#### Write a program to calculate roots of quadratic equation.

In [23]:
#ax**2 + bx + c= 0

import cmath

a = 1
b = 5
c = 6

d = (b**2) - (4*a*c)


sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

#### Write a program to enter a number between (1-7) and print the respective day of the week.

In [1]:
weekday = int(input("Enter weekday day number (1-7) : "))

if weekday == 1 :
    print("Monday");

elif weekday == 2 :
    print("Tuesday")

elif(weekday == 3) :
    print("Wednesday")

elif(weekday == 4) :
    print("Thursday")

elif(weekday == 5) :
    print("Friday")

elif(weekday == 6) :
    print("Saturday")

elif (weekday == 7) :
    print("Sunday")

else :
    print("Please enter weekday number between 1-7.")

Enter weekday day number (1-7) : 6
Saturday

#### Write a program to enter number between (1-12) and print respective month.

In [26]:
month_number=int(input("Enter number between 1-12: "))

months=["January","February","March","April","May","June","July","August","September",
       "October","November","December"] 

if month_number>=1 and month_number<=12:
    month_name=months[month_number-1] 
    print("The month corresponding to the number",month_number,"is",month_name)
    
else:
    print("Invalid input")

Enter number between 1-12: 6
The month corresponding to the number 6 is June

#### Write a program to enter a number between(1-4) and perform

#### Addition

In [3]:
num1=3
num2=1
addition=num1+num2
print("Addition",addition)

Addition 4

#### Subtraction

In [4]:
num1=4
num2=1
subtraction=num1-num2
print("Subtraction",subtraction)

Subtraction 3

#### Multiplication

In [5]:
num1=2
num2=4
multiplication=num1*num2
print("Multiplication",multiplication)

Multiplication 8

#### Division

In [6]:
num1=4
num2=2
division=num1/num2
print("Division",division)

Division 2.0

#### Write a program to convert temperatures to and from celsius, Fahrenheit.

In [7]:
temp=float (input("enter Temperature"))
unit=input("Enter unit('C' for Celsius or 'F' for Fahrenheit)")
if unit=='C' or unit=='c':
    newTemp=9/5*temp+32
    print("Temperature in Fahrenheit =", newTemp)
elif unit=='F' or unit=='f':
    newTemp=5/9*(temp-32)
    print("Temperature in Celsius=", newTemp)
else:
    print("Unknown unit",unit)

enter Temperature38
Enter unit('C' for Celsius or 'F' for Fahrenheit)C
Temperature in Fahrenheit = 100.4

### A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [3]:
salary = float(input("Enter your salary: "))
years_of_service = int(input("Enter your years of service: "))

if years_of_service > 5:
    bonus = salary * 0.05
    print("Congratulations! You qualify for a bonus of ${:.2f}.".format(bonus))
else:
    print("Sorry, you do not qualify for a bonus.")

Enter your salary: 45000
Enter your years of service: 60
Congratulations! You qualify for a bonus of $2250.00.

#### Write a program to take input of length and breadth of a rectangle from user and check if it is square or not.

In [4]:
length = float(input("Enter length of rectangle: "))
width = float(input("Enter width of rectangle: "))

if length == width:
    print("The rectangle is a square.")
else:
    print("The rectangle is not a square.")

Enter length of rectangle: 34
Enter width of rectangle: 32
The rectangle is not a square.

#### Take input of age of 3 people by user and determine oldest and youngest among them.

In [5]:
age1 = int(input("Enter age of first person: "))
age2 = int(input("Enter age of second person: "))
age3 = int(input("Enter age of third person: "))


oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)


print("The oldest person is {} years old.".format(oldest))
print("The youngest person is {} years old.".format(youngest))

Enter age of first person: 56
Enter age of second person: 34
Enter age of third person: 89
The oldest person is 89 years old.
The youngest person is 34 years old.

#### A school has following rules for grading system:a.Below 25-F, b.25 to 45-E, c.45 to 50-D , d.50 to 60-C, e. 60 to 80-B, f.Above 80-A Ask user to enter marks and print the corresponding grade.

In [7]:
marks = float(input("Enter your marks: "))


if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
else:
    grade = "A"


print("Your grade is {}.".format(grade))

Enter your marks: 67
Your grade is B.