#### Write a program to print "Hello Python" ten times.

In [1]:
i=1    
while i<=10:
    print("python")
    i=i+1

python
python
python
python
python
python
python
python
python
python

#### Write a program to print number from 1 to 10.

In [2]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

#### Write a program to print sum of first ten number.

In [3]:
i=1
add=0
while i<=10:
    add=add+i
    i=i+1
    print(add)

1
3
6
10
15
21
28
36
45
55

#### Write a program to print n number entered by the user.

In [5]:
n=int(input("Enter number "))
i=1
while i<=n:
    print(i)
    i=i+1

Enter number 32
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

#### Write a program to print sum of n numbers.

In [6]:
n=int(input("Enter number"))
i=1
add=0
while i<=n:
    add=add+i
    i=i+1
    print(add)

Enter number25
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325

#### Write a program to print table of a number.

In [8]:
table   =int(input("Enter the table :"))
start   =int(input("Enter the starting number : "))
limit   =int(input("Enter the limit :"))
while(start<=limit):
  print(start,"*",table,"=",start*table)
  start=start+1

Enter the table :45
Enter the starting number : 1
Enter the limit :10
1 * 45 = 45
2 * 45 = 90
3 * 45 = 135
4 * 45 = 180
5 * 45 = 225
6 * 45 = 270
7 * 45 = 315
8 * 45 = 360
9 * 45 = 405
10 * 45 = 450

#### Write a program to calculate the factorial of a number.

In [9]:
n=int(input('enter number '))
fact=1
i=1
while i<=n:
    fact=fact*i 
    i+=1
print(fact)

enter number 8
40320

#### Write a program to print even number between 1 to 100.

In [10]:
i=2
while i<=100:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### Write a program to print odd number between 1 to 100.

In [11]:
i=1
while i<100:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Write a program to check whether a given number is palindrome or not.

In [7]:
n = int(input("Enter a value:"))  
temp =n
rev = 0  
while(n > 0):  
    dig = num % 10 
    revrev = rev * 10 + dig  
    n=n // 10  
if(temp == rev):  
    print("This value is a palindrome number!")  
else:  
    print("This value is not a palindrome number!")

Enter a value:121
This value is not a palindrome number!

#### Write a program to find factors of a number.

In [3]:
num =int(input("Enter number")) 
num = int(num)
i = 1
while i<=num:
    if num%i==0:
        print(i)
    i = i+1

Enter number14
1
2
7
14

#### Write a program to print the reverse of a number.

In [1]:
num=6789
rev=0
while num!=0:
    rem=num%10
    rev=rev*10+rem
    num//=10
print(rev)

9876

#### Write a program to check whether a given number is prime or not.

In [2]:
num=11
if num>1:
    for i in range(2,int(num/2)+1):
        if (num%i)==0:
            print(num,"is not a prime number")
            break
        else:
            print(num,"is a prime number")
else:
    print(num,"is not a prime number")

11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number

#### Write a program to print prime number between  1 to 100.

In [3]:
for num in range (1, 101):
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            count = count + 1
            break

    if (count == 0 and num != 1):
        print(" %d" %num, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

#### Write a program to print number in reverse order entered by the user.

In [1]:
num=int(input("Enter number "))
rev=0
while num!=0:
    rem=num%10
    rev=rev*10+rem
    num//=10
print(rev)

Enter number 25684
48652

#### Write a program to print the cube of all numbers from 1 to given number.

In [8]:
num=int(input("Enter number "))
cube=0
i=1
while i<=num:
    cube=i**3
    i+=1
print(cube)

Enter number 4
64

In [2]:
#number pattern
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [3]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [4]:
for i in range(0,6):
    for j in range(5,i,-1):
        print(j,end="")
    print()

54321
5432
543
54
5

In [5]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

12345
1234
123
12
1

In [6]:
for i in range(0,5):
    for j in range(5-i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(" * ",end="")
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [14]:
for i in range(5):
    for j in range(5):
        print(" * ",end="")
    print()

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [15]:
for i in range(0,5):
    for j in range(5-i,0,-1):
        print(" * ",end="")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [28]:
for i in range(5):
    for j in range(i):
        print(" ",end="")
    for j in range(5,i,-1):
        print("*" ,end="")
    print()

*****
 ****
  ***
   **
    *

In [49]:
for i in range(5):
    for j in range(i,5,-1):
        print("",end="")
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [53]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [56]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [61]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(chr(65+j),end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [64]:
for i in range(5):
    for j in range(i):
        print(chr(65+i),end="")
    print()

B
CC
DDD
EEEE